[2016-04-13 10:40] Paratron opened #5 "Issue when trying to extract uiscreens0.unity3d"
The extract.py script fails with the following traceback:

[code]

[2016-04-13 11:42] andburn commented on #5
@jleclanche problem is an object in `uiscreens0` with a `type_id` of _-150_, that has no script pointer.

[code]

Not sure how to fix it, except `abs` on the `type_id`, but I guess there must be some reason they can be negative?

[2016-04-13 12:01] jleclanche commented on #5
I'm not sure actually. @Mischanix any idea?

[2016-04-13 16:17] #5 closed

[2016-04-24 01:42] UlyssesWu opened #6 "How to generate strings.dat & structs.dat ?"
Just curious --- Would you like to tell us where do "strings.dat" & "structs.dat" come from?
How to generate them from Unity? Thanks.

[2016-04-24 01:42] jleclanche commented on #6
I just got them from disunity actually, not sure how that generated them.

[2016-04-24 01:42] #6 closed

[2016-04-24 01:47] UlyssesWu commented on #6
Wow, a really quick reply. :laughing: Thanks!

[2016-05-20 15:09] anaik-zam opened #7 "Issue when trying to extract cardxml0.unity3d"
No data is being passed to write_to_file function when obj.type is "TextAsset", resulting in txt files containing "w".
After passing d.script I get a traceback:

[code]
I'm running this on ubuntu 16.04 and python 3.5.1
d.script.encode("utf-8") with mode="wb" seems to work

[2016-05-20 15:38] jleclanche commented on #7
That's cardxml0.unity3d from Hearthstone? On ubuntu with python 3.5? I'm not getting that issue at all :/

Try the version from git master.

[2016-05-20 15:39] jleclanche commented on #7
[code]

[2016-05-20 15:54] anaik-zam commented on #7
thanks for the quick reply.
I tried the master but I still get the ascii error.
cardxml0.unity3d is from Hearthstone build 5.0.0.12574 (Win)
I'm running this in a docker container which runs a ubuntu 16.04 base image and has python 3.5.1.
What os are you using?

[2016-05-20 16:31] jleclanche commented on #7
Arch Linux. There's no reason it wouldnt work :/

I'd say make sure your system encoding is utf-8 but there's just about no way it wouldn't be on Linux.

[2016-05-20 16:31] jleclanche commented on #7
Triple check that it is running on Python 3.5. `/usr/bin/env python --version` should say `3.5.1`.

[2016-05-20 16:54] anaik-zam commented on #7
sys.getdefaultencoding() is 'utf-8' and python version is 3.5.1
It is working now.
I was executing python3.5 /tools/python-unitypack-master/bin/unityextract ...
I had to do the following
1. create symlink to python3.5 in /usr/bin
ln -s /usr/bin/python3.5 /usr/bin/python
2. add unityextract to the path
export PATH=$PATH:/tools/python-unitypack-master/bin

thanks for looking into it.

[2016-05-20 16:54] #7 closed

[2016-07-17 04:49] jleclanche opened #8 "Improve structs.dat handling"
We should have a system which lets us load different structs.dat files for different unity versions. Newer ones aren't fully compatible with older ones.

[2016-08-15 16:23] andburn opened #9 "Error getting type of internal Unity asset "library/unity default resources""
Calling `ObjectInfo.type` on the "**library/unity default resources**" asset raises the error below. This asset occurs in Hearthstone's `gameobject0` and `movies0` bundles, causing `unityextract` to fail.

[code]

[2016-08-15 16:46] robert-nix commented on #9
Resolve the path via `s/^library/Resources/`

[2016-08-15 16:49] robert-nix commented on #9
This needs changed https://github.com/HearthSim/UnityPack/blob/master/unitypack/asset.py#L60

and while we're here, need a better way (i.e. type detection) of loading files than explicitly saying asset/assetbundle -- lots of files that are assets don't end in ".assets".

[2016-08-15 18:30] boingy opened #10 "KeyError when extracting spells0.unity3d"
For example if I try to run bin/unityextract with spells0.unity3d:

[code]

[2016-08-15 21:45] Mischanix opened #11 "Texture decoding changes"
patch for use with my dxtc branch of Pillow; need to make a PR when #2068 is merged

[code]

[2016-08-15 22:01] robert-nix commented on #10
Probably not the right fix, but my hack for it

[code]

[2016-08-16 10:00] jleclanche commented on #11
What's streamData? Is it new?

[2016-08-16 13:30] robert-nix commented on #11
Yep.  It is the exact same bytes as `image data` but exists in a streamed resource instead of alongside the object data.

[2016-08-16 14:05] jleclanche commented on #11
So it won't work for older versions of unity? This has to work with at the very least the first hearthstone unity3d files.

[2016-08-16 15:21] robert-nix commented on #11
It does work, but only because it reads past the end of old-format object data (ObjectInfo.size isn't used to limit the reading)

[2016-08-22 18:16] Symryvvin opened #12 "Encoding problem with --text extract"

[2016-08-23 15:39] jleclanche commented on #12
I don't know why windows is using cp1251 encoding here. Default is supposed to be utf-8.

[2016-08-26 11:40] ghost commented on #12
This is Russian version of Windows, Windows is a strange thing..

[2016-08-26 11:42] TiberiumPY opened #13 "Question: Is there any work done with extracting and packing .dll's?"
Unity Web Player builds contains all the resources and .dll's in one file. Does it currently possible to unpack and pack again this .dll's?

[2016-08-26 19:53] jleclanche commented on #13
I have no idea about that. @mischanix?

[2016-10-02 08:31] jleclanche commented on #13
Guess not, closing - but feel free to try and let me know what you find!

[2016-10-02 08:31] #13 closed

[2016-10-02 08:32] jleclanche commented on #9
UnityPack can't load `unity default resources` as an asset at all right now - tried last night, failed. @andburn I'd love your help to fix it!

[2016-10-02 08:33] jleclanche commented on #10
I think this is fixed, I haven't had issues extracting that file.

[2016-10-02 08:40] jorgerobles opened #14 "[Request] De-Compressed Meshes"
Have been any improvements on Mesh decompression? Thanks!

[2016-10-02 08:41] jleclanche commented on #14
@andburn wrote the Mesh-to-OBJ exporter. Is there something specific missing from it?

[2016-10-02 08:59] jorgerobles commented on #14
Well, at export.py:141 there's a "TO-DO" comment. If mesh_compression flag is present, the meshes are not processed.
I've tested with some compressed mesh bundles and are not exported.

[2016-10-02 09:01] jleclanche commented on #14
PRs welcome then :)

[2016-10-02 09:04] jorgerobles commented on #14
Ha, ha. I've been digging for info about the mesh compression method but I've found nothing worthy.
The only clue I found is prehistoric https://forum.unity3d.com/threads/mesh-compression-what-does-it-actually-do.33073/

[2016-10-04 11:59] andburn commented on #9
Yeah there seems to be a problem loading files as assets, like `resources.assets`. I'll have a look into it.

[2016-10-07 14:22] jleclanche commented on #11
Reworked and landed in ad149d4f1ae65dd57d045714ff97c27334c40eb1

[2016-10-07 14:22] #11 closed

[2016-12-01 12:21] andburn opened #15 "Image decoding error"
Noticed this error extracting the texture for card CFM_648, format problem maybe?

`unityextract --images Hearthstone\Data\Win\cardtextures0.unity3d --filter HS9-007_M`

[code]

[2016-12-01 17:01] robert-nix commented on #15
The format is very likely .crn data, not raw dxt: <https://github.com/BinomialLLC/crunch>

[2016-12-01 19:45] andburn commented on #15
Yep, you're right. That's annoying.

[2016-12-02 17:08] mcorner opened #16 "Support for ETC_RGB4?"
Traceback (most recent call last):
  File "/usr/local/bin/unityextract", line 146, in <module>
    main()
  File "/usr/local/bin/unityextract", line 143, in main
    exit(app.run())
  File "/usr/local/bin/unityextract", line 56, in run
    self.handle_asset(asset)
  File "/usr/local/bin/unityextract", line 127, in handle_asset
    image = d.image
  File "/usr/local/lib/python3.5/site-packages/unit

[2016-12-02 17:40] TiberiumPY opened #17 "Add support for extracting, modifying, and packing."
Also support for .dll's
Then we could modify any unity3d game (create mods), or ~~hack~~ reverse-engineer for educational purpose.
You can add this functionality for games with Unity3D 5+, because Unity3D is the most popular version of Unity now.
All this features was in disunity (java), but it was supporting unity 3d up to latest 4 version, but not 5 (only alpha)

[2016-12-02 17:46] #17 closed

[2016-12-02 20:16] jleclanche commented on #17
I'm not working on reserialization but you are more than welcome to. I'll take a PR for it (although please discuss it with me beforehand).

[2016-12-04 12:17] jleclanche commented on #16
An ETC decoder needs to be added to [Pillow](https://github.com/python-pillow/Pillow) for this.

[2016-12-06 12:07] micpringle opened #18 "Object has no attribute 'read_uint'"
Hi! 👋

I've just installed UnityPack and when trying to run `unityextract` I get the following error message:

[code]

I'm running Python 3.5.2:

[code]

And here's a list of my installed packages:

[code]

Any help would be greatly appreciated. Thx!

[2016-12-06 13:09] jleclanche commented on #18
Can you get me the file you're trying to extract?

[2016-12-06 14:46] ghost commented on #18
@jleclanche I've just sent you an email (_to the address on your GitHub account_) with a link to the file. Didn't feel comfortable sharing it publicly since it's from a paid game. Hope that's ok?

[2016-12-06 15:47] #18 closed

[2016-12-06 15:48] jleclanche commented on #18
I fixed this particular issue. It still doesn't load the file... I'll look into the further issues later.

[2016-12-07 05:48] jleclanche commented on #10
@Mischanix How is this not the right fix?

[2016-12-14 06:19] oddMLan opened #19 "Can't decode text"
unityview.py

[code]

[code]

sample files: https://puu.sh/sOXJZ/d2ac030dda.zip

[2016-12-15 17:52] jleclanche commented on #19
You should be opening the file as binary. `with open("specials.bundle", "rb") as f`.

[2016-12-15 17:52] #19 closed

[2016-12-18 06:22] oddMLan opened #20 "Problem with lz4 compressed file "invalid RuntimePlatform""
https://puu.sh/sThVg/30d18719f4.zip

smilies.bundle fails with
[code]

If uncompressed before with UABE https://github.com/DerPopo/UABE
Unityextract.py can extract the assets just fine

[2016-12-18 06:29] oddMLan commented on #20
I did install python-lz4, but nevertheless I'm still seeing this error message

[2016-12-22 11:29] verng95 commented on #15
I have the same error, as you ignore it and continue the algorithm?

[2016-12-22 15:15] FardHast commented on #15
@andburn Almost the same error. Extracted 1923 arts out of 2818 needed. And then this error and program crashed. Please, I really hope you can do smth about it.
![exporting arts error](https://cloud.githubusercontent.com/assets/24718966/21429953/e2d61d82-c882-11e6-9fe5-f7e5ffd625e4.png)

[2016-12-22 15:20] andburn commented on #15
@FardHast yeah, different project but same problem. I added an issue for it https://github.com/andburn/hs-art-extractor/issues/6 will try and fix it soon.

[2016-12-22 15:22] FardHast commented on #15
@andburn Thanks!

[2016-12-22 15:55] verng95 commented on #9
@andburn  I have error library/unity default resources. Have you found any fix? I tried everything out.

[code]

[2016-12-22 21:19] andburn commented on #9
@verng Unfortunately not 😞

[2016-12-25 22:43] oddMLan opened #22 "WARNING:root:StreamedResource not available without bundle"
UnityPack should support extracting FSBs from an .assets file as long as there is a .resources file with the same name in the same directory.
eg.

[code]

The Unity script for QuickBMS takes this into account, I don't see why extract.py couldn't.

[2016-12-26 03:57] jleclanche commented on #22
I don't think I want to rely on naming, same-directory logic and such. But I'd be fine with it looking in the environment instead of the bundle itself; unityextract can load all the files you give it to the environment before attempting to extract anything (I think it might already do that)

[2017-01-05 22:17] WedgeTalon commented on #16
Python and Unity are both completely new to me, but perhaps you could bundle a decoder:

http://pillow.readthedocs.io/en/latest/handbook/writing-your-own-file-decoder.html

using this tool: http://malideveloper.arm.com/resources/tools/mali-gpu-texture-compression-tool/

and this gist: https://gist.github.com/yin8086/6ce83c5d8e4cf1ac9879

as reference?

[2017-01-05 22:18] jleclanche commented on #16
Thanks. ill take a look.

[2017-01-05 22:34] jleclanche commented on #16
Thanks. ill take a look.

Edit: Uh, that's no good. It's subprocessing the texture to a separate executable...

[2017-01-06 00:27] WedgeTalon commented on #16
Drat, I didn't catch that.

[2017-01-10 01:22] zhangbo opened #23 "Am I doing wrong?"
command:
unityextract --all -o . sharedassets0.assets

[code]

When I install unityPack with './setup.py install', I got this :
command line :
unityextract --all -o . resources.assets

[code]

[2017-01-10 04:58] jleclanche commented on #23
Can you upload the file you're trying to open?

[2017-01-17 12:08] Triple3T opened #24 "OverflowError when unpacking file"
I tried `python unityextract --images (File Name)`
but it returned
[code]
Actually it's not Hearthstone texture, but it's unity resource(UnityFS type, version 5.4.1f1).
Is this error caused by big file size? How can I fix this error and get unpacked file?

[2017-01-17 14:49] jleclanche commented on #24
I'll need the file to test it. Can you upload it somewhere?

[2017-01-17 16:35] Triple3T commented on #24
@jleclanche I uploaded the file here: https://drive.google.com/open?id=0B-GoIZl8MLgaNExVc180T19lVEE
Its size is 4.37MiB. Is it too big to extract?

[2017-01-18 11:18] jack980517 opened #25 "Error when loading bundle file"
[code]

[2017-01-18 12:22] jack980517 commented on #25
Solved: instead of `open("example.unity3d")` as written in the readme, `open("example.unity3d",'rb')` is required. Not specifying `rb` would result in the file being read as text rather than binary, and would have some weird issues like this one.

[2017-01-18 12:22] #25 closed

[2017-01-25 18:09] doterax opened #28 "All of my bundles can't be extracted."
Fails with different errors.

[code]
[code]

[code]

[code]

[code]

[code]

[code]

[code]

[code]

[code]

[code]
For example I provide one bundle with manifest [Test.zip](https://github.com/HearthSim/UnityPack/files/730562/Test.zip)

[2017-01-25 18:12] jleclanche commented on #28
Which game are those files from?

[2017-01-25 18:14] jleclanche commented on #28
Can you send me `musketeers_240083e70840140e8d06ed37cacbba13.unity3d` as well as `windows_5626cce8f12bc07aabffb1c6d07ea5b0.unity3d` please.

[2017-01-25 18:14] doterax commented on #28
Is from my game. I just want to know how Unity handles my bundles. And resources.

[2017-01-25 18:20] doterax commented on #28
Yep [files.zip](https://github.com/HearthSim/UnityPack/files/730589/files.zip)

[2017-01-25 18:24] doterax commented on #28
I also provide you a manifest that describes bundle relations.

[2017-02-06 08:31] doterax commented on #28
Hi, any news? You fix this issue?

[2017-02-06 08:38] jleclanche commented on #28
Sorry, I can't look into this any time soon :/ but whenever I get back to this I'll take a look. Or maybe @ifeherva knows better.

[2017-02-06 08:42] doterax commented on #28
You have any documents about Unity bundle structure? If I read may be I can help also.

[2017-02-06 08:49] jleclanche commented on #28
Not really, documentation is nearly nonexistant. It's all reverse engineering work.

[2017-02-07 19:25] TiberiumPY commented on #28
@doterax I know the program that can extract all your assets

[2017-02-07 19:42] doterax commented on #28
Make me advice and make me happy :)
вт, 7 февр. 2017 г. в 21:25, Danil Yarancev <notifications@github.com>:

[2017-02-08 03:44] ghost commented on #28
@doterax nah, I was mistaken :)

[2017-02-11 15:00] vehumet opened #29 ""struct.error: unpack requires a bytes object of length 5" problem"
For some unity files, unityextract prints following error,
[code]

I'm not familiar to python syntax (such as * notation), so I'm just pasting my quick fix of this problem.
I refered this url:
http://stackoverflow.com/questions/5773607/python-what-is-the-most-efficient-way-to-generate-padding

In utils.py,
[code]

to this:
[code]

I omitted * of `args` for just make it run with least effort ;). So

[2017-02-11 15:03] vehumet commented on #29
I close this because it's duplication of https://github.com/HearthSim/UnityPack/issues/23

[2017-02-11 15:03] #29 closed

[2017-02-11 15:03] vehumet commented on #23
I'm not familiar to python syntax (such as * notation), so I'm just pasting my quick fix of this problem.
I refered this url:
http://stackoverflow.com/questions/5773607/python-what-is-the-most-efficient-way-to-generate-padding

In utils.py,
[code]

to this:

[code]

I omitted * of `args` for just make it run with least effort ;). Sorry for that.
Sorry for not uploading problematic asset file, for

[2017-02-11 15:04] jleclanche commented on #23
That will prevent the crash but it won't actually help reading. All it's doing is feeding in garbage instead of feeding in nothing.

[2017-02-13 22:10] maniacgit opened #30 "Format 17 with external files"
I'm trying to extract images from the Zombicide Android app. This app has an obb file which can be extracted using zip.
After extracting I got a lot of files.
There are sharedassets1.assets.splitXX where XX is a number. I've joined them using cat since UnityPack seems it can't handle split files. I've already done this with an older version of the app using disunity and it worked fine.
Additional

[2017-02-20 07:56] welovekah opened #31 "AssertionError"
Getting an AssertionError when attempting to run unityextract on an .assetbundle

`py unityextract No_1.assetbundle`

Traceback (most recent call last):
  File "unityextract", line 146, in <module>
    main()
  File "unityextract", line 143, in main
    exit(app.run())
  File "unityextract", line 53, in run
    bundle = unitypack.load(f)
  File "C:\Users\XXX\AppData\Local\Programs\Python\Python36-

[2017-02-20 12:09] jleclanche commented on #31
Can you upload the file somewhere?

[2017-03-05 06:54] #10 closed

[2017-03-10 20:40] Avatarchik opened #32 "Extract Scene"
Hello! Is it possible to somehow add the decompilation of the scene so that it is possible to add it to the project?

[2017-03-12 03:24] Mactastic1-5 commented on #28
UnityFS 5.x.x 5.5.0p4 is in header.

[2017-03-16 19:46] muellermartin opened #33 "Wrong shebang in current Wheel on PyPI"
The current Wheel `unitypack-0.7.1-py3-none-any.whl` (MD5 `70360240ba647c0353a0711f9cabb82e`) on https://pypi.python.org/pypi/unitypack/0.7.1 uses `#!/home/adys/.local/share/virtualenvs/hs/bin/python3` as shebang instead of the one used in the repository. This causes errors on UNIX-like systems (as Linux and macOS):

    -bash: /usr/local/bin/unityextract: /home/adys/.local/share/virtualenvs/hs/bi

[2017-03-16 20:25] Mactastic1-5 commented on #33
It sounds like you're using a different version of Python.

[2017-03-16 20:45] muellermartin commented on #33
@Stellarspace I think you misunderstood the issue or maybe I was not clear enough: On UNIX-like systems the first line is important as the kernel checks it for `#!` (the [shebang](https://en.wikipedia.org/wiki/Shebang_(Unix))) and the path to the interpreter to be used when it is executed and the executable bit is set (`chmod +x`). There are two tools supplied with UnityPack (`bin/unity2yaml` and

[2017-03-17 11:47] jleclanche commented on #33
Weird setuptools behaviour... no idea why this happened.

[2017-03-17 13:01] jleclanche commented on #33
Should be fixed in 0.7.2, reopen if it's still an issue.

[2017-03-17 13:01] #33 closed

[2017-03-17 13:50] thedanieldude opened #34 "Question"
I don't know how else to contact you, but how did you find out the format that unity saved it's assets? Did you look at unities source code or something?

[2017-03-17 13:55] Mactastic1-5 commented on #32
Try putting a .unity file extension on it.

[2017-03-17 13:55] Mactastic1-5 commented on #34
No, reverse engineering.

[2017-03-17 13:56] jleclanche commented on #34
You can join us on Discord / IRC: https://hearthsim.info/join/

[2017-03-17 13:56] #34 closed

[2017-03-17 17:20] muellermartin commented on #33
Thanks for fixing this so fast! The tools now work for me but the shebang still differs from the one used in the repository (now it is `#!/usr/local/opt/python3/bin/python3.6`).

[2017-03-17 17:24] jleclanche commented on #33
Yes, they get rewritten accordingly by your pip install, that's intended behaviour.

[2017-03-17 17:24] muellermartin commented on #33
Ah okay, good to know!

[2017-03-19 22:10] jleclanche commented on #15
This was fixed!

[2017-03-19 22:10] #15 closed

[2017-03-20 19:22] doterax commented on #28
@Stellarspace so what?

[2017-03-20 20:52] Mactastic1-5 commented on #28
@doterax Is that even supported?

[2017-03-21 16:18] tangpei506 opened #35 "load assetbundle error"
I'm trying loading a assetbundle with header `UnityFS 5.x.x 5.4.1f1` but got error

[code]

[001_school_winter.zip](https://github.com/HearthSim/UnityPack/files/858834/001_school_winter.zip)

[2017-03-21 19:09] Mactastic1-5 commented on #35
If you read the last line, it says the object has to be the bytes length of 3.4GB. I didn't look at the file.

[2017-03-21 20:15] dnaroma commented on #35
@Stellarspace Thanks. I think it may got wrong size from file... I tried other files, they didn't crash but the size is also huge.

[2017-03-22 18:54] Mactastic1-5 commented on #35
@tangpei506 It's weird that developers compile their Unity games and apps with a large file size. Is it a desktop game?

[2017-03-22 19:29] robert-nix commented on #35
This is just a decode issue.  The asset itself should be 4.5MB uncompressed, and the assetbundle uses LZ4 compression.  The 3410181934 number is a uint32 (2E 3F 43 CB) visible in the compressed bytes.  Unsure why unitypack isn't feeding it through LZ4 properly.

[2017-03-27 18:30] robert-nix commented on #35
Can you pull master and see if this is fixed now?

[2017-03-27 18:37] robert-nix commented on #24
This was fixed by 11c22bcc.

[2017-03-27 18:38] robert-nix commented on #35
This was fixed by 11c22bcc.

[2017-03-27 18:38] #35 closed

[2017-03-27 18:39] #24 closed

[2017-03-27 18:40] robert-nix commented on #30
Should be fixed by 11c22bc.

[2017-03-27 18:40] #30 closed

[2017-03-27 18:42] robert-nix commented on #23
This was probably fixed by 11c22bc.

[2017-03-27 18:50] robert-nix commented on #28
Some of these issues are fixed by 11c22bc.  There are, however, still further issues reading some of the objects that I'll have to look into when I get more time.

[2017-03-27 18:55] robert-nix commented on #20
Looks to be fixed as of 11c22bcc.

[2017-03-27 18:55] #20 closed

[2017-03-27 20:34] robert-nix commented on #28
After fixing the Object reading issue, there are two remaining errors here:
- unityextract can't handle the shader format introduced in Unity 5.5:
[code]

- The external file references in these assetbundles aren't being resolved correctly:
[code]

[2017-03-27 20:47] dnaroma commented on #35
@Mischanix Thanks!

[2017-03-28 12:04] #12 closed

[2017-04-02 11:24] NunzioArdi opened #39 "UnityPack does not work"
I created a file "extract unity3d.py"
I wrote there :

[code]

I have installed python 3.6 as well as libraries with pip:
- Unitypack (0.7.2)
- lz4 (0.9.0)
- Pillow (4.0.0)
- decrunch [unknown 0.0.0]
Bur the "decrunch" library installs by calling itself unknown.
I have the following error message :
[code]
You have an idea of what I can do?

Translate by Google Translate

[2017-04-02 17:19] #39 closed

[2017-04-02 17:19] NunzioArdi commented on #39
[code]

[2017-04-05 03:50] Avatarchik opened #42 "struct.error: unpack requires a bytes object of length 4"
File: https://drive.google.com/file/d/0B5nWjiXFR3UDZXZsTFJldS1fVFU/view?usp=sharing

[2017-04-08 13:23] KevinHru commented on #16
Hi !

And what about that : [https://github.com/hglm/texgenpack](https://github.com/hglm/texgenpack) ?

It is C code but maybe something is possible ?

[2017-04-11 16:51] ghost commented on #23
Sadly, error still occur:
`unityextract.py --all -o D:\TUM\UnityPack globalgamemanagers.assets`
output:
[code]
Unity version: 5.4.0f3
Assets file in attachment: [globalgamemanagers.zip](https://github.com/HearthSim/UnityPack/files/914046/globalgamemanagers.zip)

[2017-04-12 02:43] robert-nix commented on #23
Your version of unitypack appears to be out of date; for example, [this is the current object.py at line 132](https://github.com/HearthSim/UnityPack/blob/master/unitypack/object.py#L132), whereas the traceback states `result[child.name] = self.read_value(child, buf)`

[2017-04-12 08:13] #23 closed

[2017-04-15 15:44] NunzioArdi opened #43 "Not work. Help me"
[code]
.
[code]

[2017-04-20 23:38] regner commented on #31
I am running into the same thing. Here is the file I am trying to extract:

[sharedassets11.zip](https://github.com/HearthSim/UnityPack/files/945731/sharedassets11.zip)

[2017-04-29 11:20] garysheffield19 opened #44 "How to use this?"
Sorry for asking some stuipid questions.
I am not a programmer and this is my first time to use github.

I ued to extract unity3d files with Unity Studio but somehow it doesn't work with some files I got now.
So I googled new tool for extracting "UnityRaw" type data and I found Unitypack may be helpful.
But I don't know how to use it.
It looks like some kind of open codes. so where can I get the .

[2017-04-30 08:24] mwxkl opened #45 "Installation error"
I get an installation error when trying to install unitypack via pip3.
[code]

Running Void Linux here, kernel 4.10.13_1.
Python version 3.5.3
I tried to install decrunch manually but i get the same error.

[2017-04-30 08:31] ghost commented on #45
Iam Sorry! This is a new machine, i forgot to install python3-devel.
Its early in the morning, forgive me :)

[2017-04-30 08:31] #45 closed

[2017-05-17 20:58] #32 closed

[2017-06-08 04:50] Dakiel opened #49 "OverflowError when unpacking UnityFS"
[code]

Sorry to bother, but I've tried several UnityFS file and neither of them works.

[2017-06-10 23:14] #43 closed

[2017-06-10 23:14] #44 closed

[2017-06-10 23:18] jleclanche commented on #49
@ifeherva Is your version affected?

[2017-06-12 05:05] nicolaifsf commented on #42
I had a similar issue

[2017-07-12 18:18] #42 closed

[2017-07-21 15:21] pachanga opened #51 "How do I get all names from AssetBundle?"
Folks, how do I properly extract all asset lookup names from the specific bundle?

There is a simple example on how to read an asset from the bundle and get its name. However it's not the name which is used to look up a specific asset in the bundle.

Look up names, I believe, are stored somewhere in the header of the asset bundle. But it looks like AssetBundle class instance doesn't contain any lo

[2017-08-26 07:38] EpocDotFr opened #53 "Publish a new PyPI release"
It looks like it's been two months there were no new UnityPack release. However, I see in the commits list there were several bugfixes.

Is it possible to publish a new PyPi release with those fixes?

PS: awesome work, this project rocks!

[2017-08-27 04:07] jleclanche commented on #53
I'm kinda uncertain whether the current state of master is healthy. @Mischanix have you tried it?

[2017-08-27 06:24] robert-nix commented on #53
master's been fine for me.

[2017-08-28 09:40] EpocDotFr commented on #53
It'll be awesome if you could make a new release soon 😁

[2017-08-28 09:51] jleclanche commented on #53
According to haibane there are some issues in the latest master.

On Aug 28, 2017 11:40, "Maxime" <notifications@github.com> wrote:

[2017-08-28 10:46] EpocDotFr commented on #53
I tested latest `master` in my project.

Latest `master` not only works well, but also solves all my problems I had to parse an `.assets` file which comes from a recent version of Unity3d (I cannot tell you the exact version).

[2017-08-28 15:47] EpocDotFr opened #54 "How to deal with MonoBehavior items?"
I'm using UnityPack to extract specific items from an `.assets` file. I can extract the content of a TextAsset item without any issue, but what about other types like MonoBehavior? I see they aren't available at all in the `objects` attribute of an `Asset` instance, are they completely ignored during the parsing process?

Also, the UnityPack readme states:

Should this mean that the raw data of th

[2017-08-28 16:15] ifeherva commented on #54
Exactly. MonoBehavior can be extracted if you define how.

[2017-08-28 16:48] EpocDotFr commented on #54
What about the readme part I quoted?

[2017-08-28 16:51] ifeherva commented on #54
That is how it works. You get a dict with the relevant fields and their data.

[2017-08-28 17:02] EpocDotFr commented on #54
I'm sorry but I don't understand.

What I'm thinking I'm understanding about the readme quote is: if this item (e.g a MonoBehavior) cannot be cast as a Python class, just return the raw data as a dict. Am I wrong?

[2017-08-28 17:08] ifeherva commented on #54
You are correct, you get a dict with the data as there is no MonoBehaviour class defined. You can of course define your class that takes the dict and interprets it.

[2017-08-28 18:12] EpocDotFr commented on #54
Perfect! But, as stated in the description of this issue:

So how can I access MonoBehaviour dicts?

[2017-08-29 11:02] EpocDotFr commented on #54
Nevermind. I'm dumb. I had a `break` in my loop, thus I wasn't looping on all items.

[2017-08-29 11:02] #54 closed

[2017-08-29 11:35] EpocDotFr commented on #53
NVM. There's issues in the latest master, I bet when reading unknown objects data:

[2017-09-05 11:31] ElArtista opened #55 "Crash when unpacking string"
When trying use unity2yaml with the following file:
[gd.data.zip](https://github.com/HearthSim/UnityPack/files/1277210/gd.data.zip)

It goes on well, until some point it crashes on some object.
Reference trace:

[code]

[2017-09-05 21:54] capntrips commented on #31
I ran into the same thing was able to resolve it with `Asset.from_file`.  For example:

    import unitypack.asset

    with open("example.assets", "rb") as fp:
        asset = unitypack.asset.Asset.from_file(fp)
        for id, object in asset.objects.items():
            print(object.type)

**Note:** It doesn't know how to handle MonoBehaviour objects, so I had to wrap the `ObjectInfo.type` gett

[2017-10-06 11:37] andyearnshaw opened #57 "Support for TextureFormat.PVRTC_RGBA4"
I get this for certain texture assets in some of the bundles I'm extracting:

[code]

It would be great if this format could be supported in the future.

[2017-10-06 11:40] jleclanche commented on #57
It needs to be implemented in Pillow first: https://github.com/python-pillow/Pillow/

I'm closing this -- unity has a lot of texture formats but without a Pillow format for it there's not much I can do.

I recommend filing a PR with Pillow to implement it. [This might help](https://github.com/GreyRook/python-pvr).

[2017-10-06 11:40] #57 closed

[2017-10-06 12:57] andyearnshaw opened #58 "Support for unpacking sprites"
A lot of the bundles I'm extracting have sprite atlases in them and it's pretty tedious to manually cut them out and rotate them to the correct position.  I've been looking for an automated way to do this with no luck.

https://docs.unity3d.com/Manual/SpritePacker.html

How difficult would this be?

[2017-10-06 13:02] jleclanche commented on #58
If you can find the spatial and rotational metadata for each sprite then it could be added as a utility method, iff it's consistent.

[2017-10-06 13:26] andyearnshaw commented on #58
I think it would be consistent since (according to the link above) it's handled by Unity automatically.  If I export the YAML for one such bundle, there are some dictionaries that contain `spriteDefinition` metadata:

[code]

The data for the Texture2D itself looks like this:

[code]

However, I don't see how the Texture2D asset points to the spriteDefinitions or vice versa.

[2017-10-06 13:29] jleclanche commented on #58
This would need to be explored more closely then. If you can figure it out, I recommend you write a script that uses unitypack to extract the stripes, then we can figure out if we can upstream it :)

[2017-10-06 13:35] andyearnshaw commented on #58
OK, cool - I'll keep looking into it and see if I can rope some others into helping.  Thanks!

[2017-10-06 14:49] andyearnshaw commented on #58
I realised that I missed some of the data off at the bottom of the sprite definitions object.  I've added it in now and it clearly states which Texture the items map to in that data at the bottom:

[code]

That PPtr references the Texture2D's path_id.

[2017-10-13 17:41] capntrips commented on #8
I'm not sure if this should go here, #6, get it's own issue, or some combination, so hopefully this is the proper forum.

As a new user to this (great!) software, it took me hours to figure out that if an AssetBundle doesn't provide TypeTrees, it will silently fall back on structs.dat for a potentially different format version.  It might be worth adding a warning in that case, so others can avoid

[2017-10-13 17:43] jleclanche commented on #8
I honestly don't remember how I got hold of structs.dat at this point. I'm very much in favour of a better system for handling the pile of mess that is builtin typetrees, especially since they change version to version. I suspect it's the root cause of a bunch of issues.

Maybe @ifeherva or @Mischanix can chime in.

[2017-10-13 17:47] ifeherva commented on #8
"it took me hours to figure out that if an AssetBundle doesn't provide TypeTrees, it will silently fall back on structs.dat for a potentially different format version. "

I think this behavior is mentioned in the wiki. If not, it should be :)

[2017-10-13 20:04] andburn commented on #8
I assume its generated with [this Gist](https://gist.github.com/Mischanix/6f460d5c1dfb2f5e5ba5fe4419704537) from @Mischanix

[2017-10-13 20:33] capntrips commented on #8
Thanks for the link.  I'll see if I can make it work for my target version.

On the silently falling back on a different format version thing, I was just thinking it might be nice to have it issue a warning by default if the asset version doesn't match the structs version.  I'd be happy to submit a pull request if it's something you think you'd accept.

Thanks again, and thanks for the crazy fast

[2017-10-17 22:13] jleclanche commented on #53
0.8.0 is out

[2017-10-17 22:13] #53 closed

[2017-10-20 21:11] capntrips commented on #8
I managed to get the gist updated to:
* [2017.1.0p5](https://gist.github.com/capntrips/659bec02ab8f65347f40bd88aa0ef059/2af9d107db29c98aebe5c6199d5b1389672bea5e)
* [2017.1.2p4](https://gist.github.com/capntrips/659bec02ab8f65347f40bd88aa0ef059/a3888ac7a079ca45de98348c412beadff8268548)
* [2017.1.3p4](https://gist.github.com/capntrips/659bec02ab8f65347f40bd88aa0ef059/0ad4d080d2cc4a437d69b39e5757fd8f

[2017-10-26 03:55] MichaelPriebe opened #59 "Strange asset causes error"
[872f2f72.zip](https://github.com/HearthSim/UnityPack/files/1416905/872f2f72.zip)
Neither unitypack.load or unitypack.asset.Asset.from_file works for this asset.

[2017-10-27 11:24] ye1088 commented on #59
this file(872f2f72.zip) is not a UNITYFS file

[2017-10-28 03:11] mikuhl-dev commented on #59
From what I've been told the file inside is the raw asset.

[2017-11-04 23:30] ye1088 commented on #59
you may be need "[disunity](https://github.com/ata4/disunity)" tool

[2017-11-21 02:25] Raijinili opened #60 "Mistake? `read_cstring` error message uses `list` instead of `bytes`."
https://github.com/HearthSim/UnityPack/blob/e0e53d280537f495ef744657005a06dea3cd0694/unitypack/utils.py#L83

Shouldn't the error message use `b"".join` first? As is, the value is a bunch of single-byte strings.

Possible correction:

[code]

[2017-11-21 12:45] jleclanche commented on #60
Yeah that error message is fine. And your `ret = "".join(retlst)` would crash because you're trying to join bytes into a string (gotta decode first).

[2017-11-21 12:45] #60 closed

[2017-12-07 01:45] Avatarchik opened #63 "Class ID: KeyError: -14"
UnityPack Version:0.8.1
file: https://drive.google.com/open?id=1u39GZ2llpNWJAH80rrjtvnZxPYz4SGMP

WARNING:root:-14 absent from structs.dat
WARNING:root:-6 absent from structs.dat
WARNING:root:-16 absent from structs.dat
WARNING:root:-10 absent from structs.dat
WARNING:root:-22 absent from structs.dat
WARNING:root:-33 absent from structs.dat
WARNING:root:-9 absent from structs.dat
WARNING:root:-18

[2017-12-08 17:08] kbrewer08 opened #64 "Parsing object tree"
This isn't so much an issue as it is a request for guidance. I have a web application I'm writing in java that uses the api of a mobile game I play to display in-game information without actually being in game.

Part of this is getting all the image assets from the game, so I'm working on porting the unity asset bundle extraction / parsing from various sources online and this project has been the

[2017-12-08 17:14] ifeherva commented on #64
I do have a rust implementation if that helps you.

[2017-12-08 17:28] kbrewer08 commented on #64
I'd take a look at that, sure. Thanks.

[2017-12-08 18:31] #64 closed

[2017-12-28 03:56] fireundubh opened #65 "pkg_resources.DistributionNotFound: 'unitypack'"
When I try to run `unityextract`, I get a `pkg_resources.DistributionNotFound` error. I don't see any issues with imports in PyCharm, so I'm at a loss as to why this is occurring.

[code]

[2017-12-28 04:14] fireundubh commented on #65
Nevermind! Solution: `pip install unitypack` LOL

[2017-12-28 04:14] #65 closed

[2018-01-19 03:00] Rangedz opened #66 "Problem extracting assets from a UnityWeb file"
I am having some problems extracting assets from a UnityWeb file.
It throws this exception on `asset.objects.items()`:
[code]

I tried opening it with Unity Assets Bundle Extractor and it seemed to work correctly, so I don't think there is nothing wrong with the file.

File: https://drive.google.com/file/d/19N-tjWW1cjIXKbSprvhWQSAyGcdkee-u/view?usp=sharing

Code used:
[code]

[2018-01-22 03:10] yanchl commented on #8
@capntrips Seeing that you extract the structs.dat file , I really want to know how you got these offsets values.

[2018-01-31 14:13] Treehee opened #67 "[request] add support for opening .assets and .ress files"
These are also files used by Unity, so it woul dbe quite useful to be able to extract those too.

[2018-02-02 06:06] moesoha opened #68 "Processing RGBA4444"
I met a problem when i'm unpacking textures formatted with `RGBA4444`. The unpacked images have a color problem obviously.

When I swapping the color channels from `RGBA` to `ABGR`, the problem solved.

![snipaste_2018-02-02_13-56-41](https://user-images.githubusercontent.com/5895757/35718863-647cc06e-0821-11e8-8cf1-0b43883c7132.png)

I don't know the definition of `RGBA4444`. **I don't know the s

[2018-02-02 06:09] jleclanche commented on #68
Thanks for the heads up.

@andburn or @Mischanix might correct me on this but I *think* there's a couple of RGBA4444 textures in Hearthstone which work the way it's implemented right now. Would have to compare to see...

Which game did you try? Can you link the raw texture binary somehow?

[2018-02-02 06:59] moesoha commented on #68
The game is a hot RPG game in China. It's Chinese name is “恋与制作人”, and it has no English name.

The Android package name is `com.papegames.evol`.

And here is the Unity Asset file i used above. [10050.zip](https://github.com/HearthSim/UnityPack/files/1688360/10050.zip)

[2018-02-02 07:00] jleclanche commented on #68
@moesoha What's the texture name/address in question?

[2018-02-02 07:04] moesoha commented on #68
@jleclanche Just `10050`, `assets/i6/icon_s/10050.png` in apk file.

[2018-02-02 07:45] UlyssesWu commented on #68
It's about big endian and little endian. Apparently here it uses little endian so the `RGBA` became `ABGR`.

[2018-02-02 07:50] moesoha commented on #68
@UlyssesWu Oops, seems right.
But how to judge which endian it is? This should be a property in the bundle.

[2018-02-02 08:10] UlyssesWu commented on #68
I don't really know about Unity's implementation.
In my case (**Kirikiri** PSB / [FreeMote](https://github.com/UlyssesWu/FreeMote/blob/master/FreeMote/PsbEnums.cs#L54)), you can only identify big/little endian by platform - in a Windows game, `RGBA8` uses little endian; while in a WebGL game, the same description `RGBA8` uses big endian instead.

[2018-02-02 08:35] moesoha commented on #68
@UlyssesWu That's really annoying... Do you have any big endian bundle files?

[2018-02-02 09:14] moesoha commented on #68
Same problem appears when unpacking Hearthstone. So there must be something about the environment.

![snipaste_2018-02-02_17-11-43](https://user-images.githubusercontent.com/5895757/35725493-804860ee-083c-11e8-8b80-f4145a59a7fe.png)

*w/o swapping channels*

![snipaste_2018-02-02_17-12-43](https://user-images.githubusercontent.com/5895757/35725495-8078e124-083c-11e8-98fd-185d0c147624.png)

*w/ swa

[2018-02-02 18:01] jleclanche commented on #68
Unity3d files have multiple places where they declare endianness. At the file/bundle level, and at the asset level. It's a bit of a mess and not always consistent. But afaik unitypack handles all that.

[2018-02-02 20:26] danielfrausto opened #69 "Malloc.h replaced by stdlib.h while installing"
Hi , while trying to install scrunch, I get the error "malloc.h replaced by stdlib.h" while installing. Using freebsd 11.1 and python3.

[2018-02-02 20:28] #69 closed

[2018-02-02 20:28] jleclanche commented on #69
Issue moved to [HearthSim/decrunch #9](https://github.com/HearthSim/decrunch/issues/9) via [**ZenHub**](https://www.zenhub.com/)

[2018-02-03 01:23] moesoha commented on #68
@jleclanche I read the codes and did some test. I believe UnityPack parsed endianess properly of assets, but the image unpacked still have a wrong channel order. You said UnityPack works with Hearthstone's RGBA4444 texture, but i failed in the last comment.

[2018-02-06 13:16] andyearnshaw commented on #67
This used to work but stopped for me recently.  I'm not sure if it was due to a UnityPack update or a Unity update for the game I was extracting.

[2018-02-06 16:49] capntrips commented on #8
@yanchl Once you have the EXE and PDB loaded in IDA, you can find them all in the Names and Functions windows.  For example, from [2017.1.0p5](https://gist.github.com/capntrips/659bec02ab8f65347f40bd88aa0ef059/2af9d107db29c98aebe5c6199d5b1389672bea5e):

| Variable Name      | IDA Name                                                                       | Offset      |
|--------------------|------

[2018-02-24 03:11] Esr45 opened #71 "ModuleNotFoundError: No module named 'unitypack'"
I have all of the requirements installed, but when I try to run any of the unityextract commands I get the following error. I am using windows 10. What am I doing wrong? I also ran setup.py and it worked fine

Traceback (most recent call last):
  File "unityextract", line 5, in <module>
    import unitypack
ModuleNotFoundError: No module named 'unitypack'
[code]

[2018-03-10 20:26] mafaca commented on #8
In Unity 2017.3 format has been changed. For those of you who need it I uploaded modified version [here](https://gist.github.com/mafaca/ec867e9dc30a8e092302dfda120c42ba) ver. 2017.3.0f3

[2018-03-25 16:22] kasubafe commented on #8
For Unity 2017.4.0f1, the relevant offsets are as follows:

Variable Name | Offset
------------------|-----------
globalBuf | 0x181117970
GenerateTypeTree | 0x18061dda0
Object__Produce | 0x1802eb8c0
TypeTree__TypeTree | 0x18061cf80
unityVersion | 0x18110cc48
rttiData | 0x181443d90

A gist with the updated version (code + dumped .dat files) based on @mafaca 's code, can be found [at this gist](http

[2018-04-06 10:04] digitalpbk opened #72 "Runtime platform enum is outdated"
I am using Unity version `2017.3.1f1`

The following enums work correctly
`class RuntimePlatform(IntEnum):
	StandaloneOSXUniversal = 2
	StandaloneOSXIntel = 4
	StandaloneWindows = 5
	WebPlayer = 6
	WebPlayerStreamed = 7
	iOS = 9
	PS3 = 10
	XBOX360 = 11
	Android = 13
	StandaloneLinux = 17
	StandaloneWindows64 = 19
	WebGL = 20
	WSAPlayer = 21
	StandaloneLinux64 = 24
	StandaloneLinuxUniversal = 25
	W

[2018-04-26 00:50] Aedial commented on #71
Since unityextract is not in your %PATH%, you need to type the absolute path to unityextract.

[2018-04-26 00:58] #71 closed

[2018-04-26 01:04] Aedial opened #73 "path.os.abspath returning the wrong path"
At the line 61 of unityextract :
`	def get_output_path(self, filename):`
`		basedir = os.path.abspath(self.args.outdir)`
`		path = os.path.join(basedir, filename)`
`		dirs = os.path.dirname(path)`

The os.path.abspath change the self.arg.outdir to an incorrect path. The tests I ran gave me this :
        outdir :  `D:\\Personnel\\Jeux\\Chain Strike\\Extractor\\res\\shaders`
	basedir : `D:\\Personn

[2018-05-01 14:32] andyearnshaw opened #74 "Support for UnityWebData1.0 files"
[Example UnityWebData1.0 File](https://cb-cdn.synapse-games.com/webgl-dev/161-3/Build/161-3.data.unityweb)

The signature on these files is _UnityWebData1.0_.

These files just appear to contain one or more `.unity3d` files, so it would be great to cut out the middle-man of extracting them and then extracting the `.unity3d` files.

[2018-11-14 08:11] Rademanc commented on #28
Hey.
Yeah I am trying to export the shaders and having the same issues.
Any luck with this?

[2018-12-04 04:34] ChaosPower opened #76 "libc++ OSX Mojave"
HI,

Having issue pip installing this package.

[code]

[2018-12-10 09:51] evilwombat opened #77 "Missing RuntimePlatform enum value for Nintendo Switch"
Hello. The RuntimePlatform enum needs to gain the following entry:
        NintendoSwitch = 38
(and I need to be less sleepy and actually send a pull request, but I'll probably forget)

[2019-03-22 15:15] rogangriffin opened #78 "Vertex and Normal data mixed up in Unity 2018.2 AssetBundles"
When I use the export.py functions on Unity 2018.2 AssetBundles, the vertices and normals get mixed up in the arrays. Vertices array looks like 1 vertex Vector3, then 3 normal Vector3s, then 1 vertex Vector3, then 3 normal Vectors, etc.
Normals then has vertex position data mixed in.
I guess their format changed. Attaching an AssetBundle (simple cube) from 2018.2.
[cube.assetbundle.zip](https://gi

[2019-03-22 15:16] jleclanche commented on #78
Thanks for the attachment -- any chance you can PR a fix?

[2019-03-22 15:18] rogangriffin commented on #78
If I figure out what the pattern of change is I will.

[2019-03-22 16:24] rogangriffin commented on #78
Ok, looks like they store it differently. As far as I can tell previously it went all one channel, then the next channel, then the next channel.
Now it is first vertex, all channels, then second vertex all channels, then third vertex all channels, etc.
So for my example asset, it's Vertex, Normal, Tangent, UV all for Vertex 1, then Vertex, Normal, Tangent, UV all for Vertex 2, etc.

[2019-03-22 16:56] rogangriffin commented on #78
Actually, I'm talking nonsense. It was always stored interleaved like that. I guess it's just the change in the amount of channels or something? I guess I'll have it figured by the time I finish writing the code changes for it.

[2019-03-22 17:05] rogangriffin commented on #78
Pull request is here: https://github.com/HearthSim/UnityPack/pull/79
Sorry about the whitespace changes.
I am going to be converting a ton of Unity 2018 assets with this so I will update as I find more issues.

[2019-04-21 22:05] jnsnow opened #80 "Compressed UnityWeb AssetBundles ignores asset header"
Hi, as seen in asset.py:

"# FIXME: this offset needs to be explored more"

I have some information on this; the header appears to look something like:

[code]

I'm not very familiar with UnityWeb files (except the ones in front of my own face), but these all have num_assets = 1 and a names of "CAB-{SHA1}". I assume that the name/offset/size objects are repeated for num_assets, and then we pad out

[2019-04-24 02:17] jleclanche commented on #76
Looks to me like it built just fine. There was a warning that's it?

[2019-04-24 02:17] #76 closed

[2019-05-16 07:03] hwiorn opened #81 "Unpacking error some assets files"
These assets file does not unpack by UnityPack(python-unitypack 0.9.0). Could you check these assets?

[sharedassets0.zip](https://github.com/HearthSim/UnityPack/files/3185743/sharedassets0.zip)

[sharedassets2.zip](https://github.com/HearthSim/UnityPack/files/3185762/sharedassets2.assets.zip)

[code]

[2019-06-20 12:42] Lykrast opened #82 "Can't extract ogg files with unityextract"
Trying to extract ogg files with the unityextract script but it keeps giving that error:

[code]

* Windows 10 64 bit version 1803
* unitypack and fsb5 installed with pip

I have tried putting the libvorbis and libogg libs given on the fsb5 github in multiple places, including:

* `C:\Windows\System32`
* Where the unityextract script is `C:\Users\Lykrast\AppData\Local\Programs\Python\Python36-32\S

[2019-06-20 12:47] Lykrast opened #83 "Can't extract ogg files with unityextract"
Extracting ogg files with unityextract from unity3d files keeps giving me this error:

[code]

* Windows 10 64 bit version 1803
* unityextract and fsb5 installed with pip and up to date

I have put the libogg and libvorbis provided by fsb5 on the following places and so far none of them worked or changed the error:

* `C:\Windows\System32`
* Where the unityextract script is `C:\Users\Lykrast\AppDa

[2019-07-20 21:57] Lykrast commented on #82
Just noticed that I got the issue duplicated at #83, probably something wonky happened with my internet connection when I wrote that.

[2019-07-20 21:57] #82 closed

[2019-07-22 22:19] GergoLadi commented on #83
I was facing the same issue. I figured I'd see if it works on Windows 7, so I fired up a VM. As soon as I set everything up and started the script, I got a message box telling me that MSVCRT120.dll was missing from the system. So I went ahead and downloaded and installed the [Visual C++ Redistributable Packages for Visual Studio 2013 pack](https://www.microsoft.com/en-us/download/details.aspx?id=4

[2019-08-02 08:12] sebastientromp commented on #83
This didn't work for me. I've copied the dll mentioned [here](https://github.com/HearthSim/python-fsb5) to more or less the same places as Lykrast above, but the script still can't find them.
I've also installed the Visual C++ Redistributable linked above.
[code]
Still looking, I'll post something here if I ever get it to work :)

[2019-08-02 08:26] sebastientromp commented on #83
Using [ProcessMonitor](https://docs.microsoft.com/en-us/sysinternals/downloads/procmon) I found out where the script was looking for the libs:

![image](https://user-images.githubusercontent.com/7889624/62355726-e0abc080-b50f-11e9-818a-d651595e2289.png)

Please also note that it's looking for `vorbis.dll`, and not libvorbis.
So copying the libvorbis.dll to my user's bin folder and renaming it to v

[2019-08-04 20:29] dustinlacewell opened #87 "Support Repacking?"
This would have a pretty big value add to the modding communities.

[2019-08-15 22:55] Hacksawfred3232 commented on #87
If you are talking about repacking in terms of adding new assets, get ready to know how to manipulate the storage buffer in the assetbundle class, as I don't think this lib supports adding new assets easily. If you want to save the bundle, then to let you know, it is doable to write the required functions to the library.  So when I can upload it (Currently going through a bit of testing), should I

[2019-08-29 09:04] einstein95 commented on #74
QuickBMS script for these files:
[code]

[2019-10-11 14:28] nyov opened #88 "SyntaxError: invalid syntax"
Fails to work in python2
[code]
Pip installed `unitypack-0.6.1`.

Is it python3? `bin/unityextract` has interpreter shebang "env python", not python3. But also fails to work in python3 for a different reason.

[2019-10-11 14:37] nyov commented on #88
Just installed everything with deps from git, for python3.
Now it works... a tiny bit.

Errors:
[code]
[code]

[2019-10-25 05:33] Kelema opened #89 "ValueError: 64 is not a valid RuntimePlatform"
I attempted to extract a .unity3d but I get an error called "ValueError: 64 is not a valid RuntimePlatform"

I have the full console attached here.

![image](https://user-images.githubusercontent.com/21977473/67545540-54441080-f6ae-11e9-8a73-0a12b09ae3a7.png)

[2019-11-09 16:47] guycalledfrank commented on #44
Actually a good question. Some people only run python once in 5 years.

EDIT:

... last time I used python, it was version 2. Installing 3 and running
pip3 install unitypack

seemed to do the trick. Hopefully this will help someone.

[2019-12-01 20:32] mildsunrise commented on #74
python code

[code]

usage:

[code]

[2019-12-02 17:32] mildsunrise commented on #74
Maybe this is obvious, but once it's extracted, remember to set `base_path` to the `extracted` dir:

[code]

Or start python from the extracted directory, because `base_path` defaults to the current directory.
This should be documented, IMO.

Otherwise it won't find the assets referenced from the bundle, i.e.:

    KeyError: "No such asset: 'sharedassets0.resource'"

[2019-12-06 06:59] sebastientromp opened #92 "struct.error: unpack requires a buffer of 3714449519 bytes"
When running unityextract with `./bin/unityextract --audio -o out/audio2 /d/Games/Hearthstone/Data/Win/*.unity3d`, I have the following stack trace:

[code]

This looked similar to https://github.com/HearthSim/UnityPack/issues/23, and I tried to re-clone unitypack and reinstall from scratch, but the issue still persists.

Do you have any idea how to fix this?

[2019-12-11 08:45] sebastientromp commented on #92
I can reproduce using only the `gameobjects0` asset:

[code]

[2019-12-16 20:57] stevenvergenz opened #93 "Cannot examine packages from Unity 2019.2"
When trying to load an asset bundle built in Unity 2019.2.12f1, I get the following exception. A test bundle is also attached below.

[code]

[template.zip](https://github.com/HearthSim/UnityPack/files/3970086/template.zip)

[2020-01-10 22:58] nanoNago commented on #92
Seeing the same in another Unity project. It appears that although the asset metadata is parsed correctly, the type/tree information and/or the actual object reading function is not functioning correctly, and the actual data of the object is not correctly understood.

Haven't discovered the root cause yet, but I'm looking into it (very slowly). If anyone wants to get in touch to debug and discuss

[2020-01-10 22:59] nanoNago commented on #67
This more or less already works, but you have to know how to load them: use the asset.from_file() function instead of trying to load them from the CLI. The unity2yaml script should actually already handle this.

[2020-01-10 23:37] sebastientromp commented on #92
I don't have knowledge of how Unity assets or unitypack works, but I'm willing to help debug if there is anything I can do

[2020-01-11 06:22] nanoNago commented on #92
Looks like this is probably the result of #8. In my case, I'm looking at format=17 objects, but the "built in" structure definitions that unitypack ships with appears to be format=15; and there are some discrepancies that cause issues. Appears to be a known thing.

Unfortunately, my knowledge of Unity is kind of minimal, I just like to tinker with RE'ing formats. I'm not sure what a "good" solutio

[2020-01-11 06:29] nanoNago commented on #8
What's the right way to tell which version we need?

Let's say we start keeping multiple versions of structs.dat -- which value should we use to decide which we need?

I guess if we're looking at a `.assets` file and the TypeMetadata region declares generator_version "2018.4.11f1" we ought to load *that* version's built-in type definitions, right? (It should be based on the version you find at the

[2020-01-11 17:02] nanoNago commented on #77
That's a build target enum -- build target and runtime platform are two different enum spaces. It's very likely that some existing usages of the RuntimePlatform actually want the BuildTarget instead.

[2020-01-13 10:23] sebastientromp commented on #92
Good to know :)
While debugging I think the format was format=17, though it was a few weeks ago so I'm not 100% sure.

[2020-01-22 14:42] captSpirk opened #96 "Trying to extract image file"
I am trying to extract a UnityExtract image file, using

`python unityextract --image_full_filename.SD`, but it's giving me this usage error:

`usage: unityextract [-h] [--all] [--audio]] [--fonts] [--images] [--models] [--shaders] [--text] [--video] [-o [OUTDIR]] [--as-asset] [filter [FILTER [FILTER ...]]] [-n] files [files ...]
unityextract: error: the following arguments are required: files`

W

[2020-01-22 14:50] sebastientromp commented on #96
if `image_full_filename.SD` is your file name, you should call via either `python unityextract image_full_filename.SD` or `python unityextract -- image_full_filename.SD`

[2020-01-22 15:22] captSpirk commented on #96
Where are the unityextract files save after successfully extracting the files?

[2020-01-22 15:27] sebastientromp commented on #96
You can specify that with the `-o` option, eg `python unityextract -o out image_full_filename.SD` will save the extracted files to the `out/` folder.

[2020-01-22 15:45] captSpirk commented on #96
Nothing is working. I'm using the -o option and specify the directory to save the file, but nothing shows up.

Does unityextract even work?

No errors so far, but there is nothing saved. Don't see any files.

**EDIT: I got it working.**

[2020-01-23 16:20] sebastientromp commented on #92
This looks solved now. So either one of the recent commits fixed it, or the last Hearthstone update did

[2020-01-25 16:33] captSpirk commented on #96
I got it w

[2020-01-25 16:33] #96 closed

[2020-02-05 21:50] APN-Pucky opened #97 "Wheel compile error"
On gentoo. Happens with pip and latest github version.

[code]

[2020-02-13 16:14] DaZombieKiller commented on #8
Over the past two days I've been working on a tool that allows you to generate `structs.dat`, `structs.dump`, `classes.json` and `strings.dat` from within the Unity editor itself.

It makes use of the DIA SDK to load `unity_x64.pdb` and locate symbols at initialization time, instead of requiring you to hardcode everything. This means it's far more resistant to breakage between Unity versions.

htt

[2020-02-25 21:37] FosterZRussian opened #98 "struct.error: unpack requires a buffer of 4 bytes"
E:\FosterZ\RED-ZM CF\cfmch25022020\assets\Assets\UnityPack-0.9.0>py use.py --models sharedw3_1.unity3d
Traceback (most recent call last):
  File "use.py", line 159, in <module>
    main()
  File "use.py", line 155, in main
    exit(app.run())
  File "use.py", line 57, in run
    self.handle_asset(asset)
  File "use.py", line 92, in handle_asset
    d = obj.read()
  File "E:\FosterZ\RED-ZM CF\cfmch

[2020-03-07 03:29] wmtorode commented on #87
being able to modify bundles (specifically meshes) would be incredibly helpful for a project I'm working on

[2020-03-24 09:30] riverfjs opened #99 "Unimplemented format <TextureFormat.ETC2_RGBA8: 47>"
already installed Pillow

[2020-03-26 02:52] phainia commented on #99
already solved by using etcpack

[2020-03-26 02:52] #99 closed

[2020-05-12 21:05] #93 closed

[2020-05-14 17:52] beheh commented on #9
We've added e1a840bff7e80d6d21d2f7cc033876eabf97fa82 to skip these for now with a warning, so at least bundles containing these files can be loaded. Obviously it would be nicer if we actually fix them, but for now this prevents crashes if you care about different files in the same bundle.

[2020-05-18 23:23] loeffel-io opened #100 "keyerror 10"
unityextract data.unity3d
1403656975 absent from structs.dat
-10 absent from structs.dat
-15 absent from structs.dat
-11 absent from structs.dat
-5 absent from structs.dat
-7 absent from structs.dat
-8 absent from structs.dat
-14 absent from structs.dat
-12 absent from structs.dat
-6 absent from structs.dat
-2 absent from structs.dat
-17 absent from structs.dat
-16 absent from structs.dat
-18 abse

[2020-05-18 23:26] loeffel-io commented on #63
belongs to #100

[2020-05-18 23:27] loeffel-io commented on #88
belongs to #100

[2020-08-24 06:29] baconwaifu opened #102 "Release on PyPi is 2 years out of date."
I just spent 2 hours tracking down a bug that was solved here almost a year ago (the `.resource` and `.resS` equivalence) because I was using the version from pip...

[2021-03-11 22:08] dialupdisaster commented on #98
Same problem :( It's been a year did you happen to find a solution for this @FosterZRussian ?

[2021-03-27 01:22] Jaeba commented on #87
Has anyone attempted this yet? This is basically what I was going to do next (if I could even get it to extract one simple AssetBundle in the first place 😢)

[2021-04-16 04:48] chenruikun commented on #8
could you pls share the code about how to save the bytes for that specific object's TypeTree to file?

[2021-04-19 23:02] capntrips commented on #8
@chenruikun I was unable to find the code I used in that example, but I imagine it was something like this (untested):

[code]

I later started saving them for the individual objects, rather than the entire AssetBundle, probably using a similar method in `TypeMetadata.load`, but again, I was unable to find the code I used to generate the files.

[2021-06-18 11:48] sebastientromp commented on #28
I can confirm this issue is still there

[2021-07-26 11:03] nopa607 opened #104 "Decompression failed:"
i try to decpress an asset, then a get this problem.
how to figure it out?
unitypack\utils.py", line 10, in lz4_decompress
    return decompress(data, size)
_block.LZ4BlockError: Decompression failed: corrupt input or insufficient space in destination buffer. Error code: 222

[enemies.zip](https://github.com/HearthSim/UnityPack/files/6877630/enemies.zip)

[2021-07-28 03:01] nopa607 commented on #104
i found that unitypack can run well in the assetBundle that packing by the untiy2018, however, it crashed in the case of untiy2019 and untiy2020;
Does anyone else have this problem?

[2021-08-02 23:04] j5rlLqM-rvsrY96V-GpVJP0F-IZFesRzy-ShMoz commented on #104
I personally haven't run into this problem, but the file you provided indeed does cause this error.
The most likely cause is that Unity changed the type of compression in Unity2019.

Solution: Patch [utils.py](https://github.com/HearthSim/UnityPack/blob/master/unitypack/utils.py) and [assetbundle.py](https://github.com/HearthSim/UnityPack/blob/master/unitypack/assetbundle.py) to provide decompress

[2021-09-16 14:16] SirNate0 commented on #16
There is a python library supporting unpacking ETC (and other) images if you are open to using another besides Pillow. Specifically, [tex2img](https://github.com/K0lb3/tex2img). Though I saw in PR #52 that someone may be trying to add Pillow support.

In any case, here's some code using it to unpack ETC and ETC2 images that unityextract doesn't support if anyone finds it useful. I modified unityex

[2021-09-22 13:33] diewu0421 commented on #104
I encountered the same problem, is it solved now?

[2021-09-24 02:03] nopa607 commented on #104
you can try AssetStudio or AssetTool

[2021-10-22 01:34] GiovanH commented on #104
Experiencing this same issue. Non-CLI utilities not an option in my case.

[2021-10-30 08:21] sebastientromp opened #105 "ValueError: 1056964608 is not a valid RuntimePlatform"
Hello,

I just installed UnityPack on a new computer, and got this issue:

[code]

Do you know what could be the cause?

[2021-10-31 22:53] davispuh opened #106 "_block.LZ4BlockError: Decompression failed (Error code: 30236)"
Hi,

I'm trying to extract images from UnityFS bundles but unfortunately it fails

Header is
[code]

[code]

Any ideas?

[2021-11-02 18:03] sebastientromp commented on #104
I have this issue since the latest HS version (updates to Unity 2019.4.21f1). Has anyone a fix for it?

[2021-11-03 10:25] sebastientromp commented on #104
@robert-nix Hey Robert, sorry for the ping, but the repo doesn't seem too much maintained anymore, so I'm trying my last card :)
Does this issue ring any bell to you? Would you be able to know what is wrong?
Thanks a lot for your help :)

[2021-11-10 21:16] Zedragon commented on #106
I'm also having the issue
_block.LZ4BlockError: Decompression failed: corrupt input or insufficient space in destination buffer. Error code: 16
ever since hearthstone update to 21.6 where they updated the unity engine. Does anyone have a solution

[2021-11-10 23:04] sebastientromp commented on #106
I switched to UnityPy. I had to update my code, but the project is actively maintained and has an active Discord community, so it felt like a worthy investment.

[2021-12-08 00:14] ds5678 commented on #8
To anyone who might find this, I have an archive of the struct information for nearly every Unity version.

https://github.com/ds5678/TypeTreeDumps

Disclaimer: I did not check whether or not the binary struct files on my repository are in the exact same format as the `structs.dat` files used by UnityPack.

[2021-12-09 13:59] Milek7 commented on #106
[code]
(note that there are other differences in asset format that it still doesn't work fully, but I was only interested in block format)

[2022-01-05 21:55] dyc3 opened #107 "We don't have any unit tests"
I was looking to see how hard it would be to implement repacking asset bundles, and I noticed that we don't have any unit tests. This would be a really good thing to have, and would make contributing much easier.

[2022-01-15 15:12] APN-Pucky commented on #97
Using a fixed decrunch package https://github.com/HearthSim/decrunch/pull/19 the error is resolved.

[2022-06-23 03:38] nimade2333 opened #109 "warning: statement has no effect [-Wunused-value]"
why？

[2022-08-07 18:01] ScriptKittyJane commented on #44
Anyone got a good guide?